.about-page-header{
    margin-top: 50px;
    padding: 40px;

    .about-img{
        margin-top: 50px;

        img{
            width: 100%;
        }
    }
}

.about-page-leadership{
    margin-top: 50px;
    padding: 30px;
    background-color: transparent;
}

.about-page-history{
    background-color: transparent;
    padding: 30px;
}

.about-page-experience{
    background-color: #2f2424;
    padding: 50px;
    position: relative;

    .experience-text{
        background-color: white;
        color: black;
        padding: 80px;
    }

    .experience-img{

        img{
            width: 100%;
        }
    }

    .link{
        font-size: 14pt;
        color: #006cb8;
        font-weight: bold;

        &:hover{
            .link{
                text-decoration: underline;
            }

            .link-arrow{
                margin-left: 3.5px;
                transition: 0.25s;
            }
        }
    }
}